  /*sets global font */
  body {
    font-family: 'Open Sans', sans-serif;
  }

  #question-title {
    white-space: pre-wrap;
    text-align: center;
  }

  .wrapper {
    margin: 100px auto 0 auto;
    max-width: 600px;
  }
  
    /* allows things to be hidden at certian times such as questions on first loading */
  .hide {
    display: none;
  }
  
  .start {
    text-align: center;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    background-color: dodgerblue;
    color: white;
    border-radius: 0;
    border-bottom: 10px solid black;
    min-height: 150px;
  }

  .scores {
    position: absolute;
    color: darkred;
    top: 10px;
    left: 10px;
  }
  
    /* timer in top right */

  .timer {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  a {
    color: black;
    text-decoration: none;
    transition: color 0.1s;
  }
  
  /* interaction change color on hover */
  a:hover {
    color: blue;
  }
  
  /* right or wrong feedback*/
  .feedback {
    font-size: 130%;
    margin-top: 20px;
    padding-top: 10px;
    color: gray;
    border-top: 2px solid grey;
  }

  /* button settings */
  button {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    font-size: 100%;
    background-color: maroon;
    border-radius: 5px;
    padding: 3px 15px;
    color: white;
  }
  
  button:hover {
    background-color: blue;
  }
  
  .choices button {
    display: block;
  }
  
  /* the intials section style*/
  input[type="text"] {
    font-size: 100%;
  }
  
  ol {
    padding-left: 0px;
    max-height: 400px;
    overflow: auto;
  }
  
  li {
    padding: 5px;
    list-style: square;
  }

  #question-title {
    margin-bottom: 50px;
  }
  
  /* this is used for the loading animations */
  .skeleton {
    animation: loading 1s infinite alternate; 
  }

  /* this is the skeleton for the lyrics */
  .skeleton-lyric {
    width: 100%;
    height: 35px;
    display: block;
    border-radius: 10px;
    margin-bottom: -70px;
    align-items: center;
  }
  
  /* this is makes it so every other lyric is 75% */
  .skeleton-lyric:nth-child(even) {
    width: 75%;
  }

  /* this is the skeleton for the buttons */
  .skeleton-button {
    width: 50%;
    height: 35px;
    display: block;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  /* the animations for the loading */
  @keyframes loading {
    0% {
      background-color: lightgray;
    }

    100% {
      background-color: gray;
    }
    
  }

  /* shrinks the select box to make it fit in a row */
  #quiz-length {
    width: 25%;
  }

  /* this is the progress bar */
  #quiz-progress {
    margin-top: 20px;
    margin-bottom: -35px;
  }

  #initial-form {
    margin-bottom: 30px;
  }

  #answers-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

